<!-- Add partial form here -->
<!-- Make sure id="partial-form" is included in the form tag -->
<form id="partial-form" action="" method="post">
    <div class="input-wrapper mb-4">
        <label for="firstname" class="capitalize text-xl md:text-2xl mb-5">WHAT IS YOUR FIRST NAME?</label>
        <input type="text" id="firstname" name="firstname" placeholder="First Name*" data-validate="basic" data-error="Please ensure this field has a value." class="h-14 lg:h-16 w-full border border-black bg-white text-black  shadow-lg pl-6 lg:text-xl rounded-md autofill:bg-white autofill:bg-none autofill:text-black">
    </div>
</form>