<header class="questionnaire-header fixed top-0 left-0 w-full py-8 bg-transparent z-[99] transition duration-300 bg-white shadow-lg">
    <div class="btn-prev-container">
        <button id="prev-button-top">
            <icon src="chevron-left.svg" class="img-fluid view-animation"></icon>
        </button>
    </div>
    <div class="container px-4">
        <div class="flex justify-center items-center">
            <a href="/">
                <span class="sr-only">Logo</span>
                <icon width="120" src="logo.svg"></icon>
            </a>
        </div>
    </div>
</header>