<header class="site-header fixed top-0 left-0 bg-white w-full py-4 bg-transparent z-[99] transition duration-300" style="">
    <div class="container px-4">
        <div class="flex items-center justify-between">
            <div class="">
                <if condition="page === 'offer'">
                    <a href="#top">
                        <span class="sr-only">Logo</span>
                        <icon class="h-auto w-36 md:w-52" src="logo.svg"></icon>
                    </a>
                </if>
                <else>
                    <a href="/">
                        <span class="sr-only">Logo</span>
                        <icon class="h-auto w-36 md:w-52" src="logo.svg"></icon>
                    </a>
                </else>

            </div>
            <a href="tel:1300 937 326" class="flex items-center" title="phone">
                <div class="md:mr-2">
                    <icon class="size-8 md:size-10" src="icon-call.svg"></icon>
                </div>
                <div class="flex-col hidden gap-1 md:flex phone-text">
                    <span class="block text-pink-400 text-base font-normal font-['Inter'] leading-none">
                        Any Questions?
                    </span>
                    <em class="not-italic  text-slate-900 text-xl font-semibold font-['Onest'] leading-none">1300 937 326</em>
                </div>
            </a>
        </div>
    </div>
</header>