<!-- Footer - King Kong Tag -->
<footer>
    <div class="container">
        <div class="flex justify-center text-center">
            <div class="col-12 py-4 lg:text-xl">
                <p>Copyright © <span class="dyn-year">Since 2023</span> <small><a data-mm-target="termsConditions" class="cursor-pointer hover:underline">Terms & Conditions</a> | <a data-mm-target="privacyPolicy"  class="cursor-pointer hover:underline">Privacy Policy</a> </small></p>

                <if condition="page === 'offer'">
                    <small>Landing Page & Digital Marketing by <a href="https://kingkong.co" target="_blank">King Kong</a></small>
                </if>

                <else>
                    <small>Landing Page & Digital Marketing by King Kong</small>
                </else>
            </div>
        </div>
    </div>
</footer>