<header class="site-header fixed top-0 left-0 bg-white w-full py-4 bg-transparent z-[99] transition duration-300" style="">
    <div class="container px-4">
        <div class="flex items-center justify-between">
            <div class="">
                <if condition="page === 'offer'">
                    <a href="#top">
                        <span class="sr-only">Logo</span>
                        <icon width="120" src="logo.svg"></icon>
                    </a>
                </if>
                <else>
                    <a href="/">
                        <span class="sr-only">Logo</span>
                        <icon width="120" src="logo.svg"></icon>
                    </a>
                </else>

            </div>
            <a href="tel:1300 937 326" class="flex items-center" title="phone">
                <div class="md:mr-3">
                    <icon class="w-6" src="icon-call.svg"></icon>
                </div>
                <div class="flex-col hidden text-xl leading-tight text-green-500 md:flex phone-text">
                    <span class="block">Any Questions?</span>
                    <em class="not-italic font-bold">1300 937 326</em>
                </div>
            </a>
        </div>
    </div>
</header>